* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    transition: .3s ease-in-out
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.WrapDetectedVoice {
   
    display: flex;
    justify-content: center;
}

.BoxDetectedVoice {
    max-width: 100% !important;
    min-height: 100%;
    padding: 20px;
    background-color: rgb(231, 231, 231);

    margin-top: 100px;
    border-radius: 20px;

}

.BoxDetectedVoice p {
    font-size: 20px;
    font-family: 'VT323', monospace;
    margin: 10px;

}

@media(max-width:450px) {
    .BoxDetectedVoice p {
        font-size: 15px;
        font-family: 'VT323', monospace;
    }

    .BoxDetectedVoice .CloseDetectedVoice {
        font-size: 20px !important;
    }

   .BoxDetectedVoice .Musics{
    max-width: 290px;
    width: 100%;
margin-top: 5px;
margin-bottom: 5px;

   }
   .BoxDetectedVoice .DetectedVoices{
    font-size: 12px !important;
    padding-top: 10px;
   }
}

.App {
    min-height: 100vh;
}

.dark {
    background-color: rgb(28, 28, 28);
}

.dark .BoxDetectedVoice {
    background-color: rgb(36, 36, 36);
}

.dark .BoxDetectedVoice p {
    color: #e7e7e7;
}

.Account {
    display: flex;
    justify-content: end;
    position: relative;
z-index: 1000000 !important;
    border-radius: 20px;
    padding: 10px;
}

.dark .Account_Bar {

    background-color: #242424 !important;
}

.dark .AccountClose {
    color: white;
}

.dark .AccountMode {
    color: white;
}

.dark .AccountInfo {
    color: white;
}

.dark .DetectedTextData {
    color: white;
}

.BoxDetectedVoice {
    position: relative;
}

.BoxDetectedVoice .CloseDetectedVoice {
    position: absolute;
    top: 10px;
    transition: .1s ease;
    right: 10px;
    cursor: pointer;
    font-size: 30px;

}

.BoxDetectedVoice .CloseDetectedVoice:hover {
    transform: scale(1.2);
}

.dark .BoxDetectedVoice .CloseDetectedVoice {
    color: #e7e7e7;
}


#MicrophoneButton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 214, 214);

}

.MicrophoneButtonOn {
    animation: animationOnMicrophone 1s infinite;
}

.MicrophoneIcon {
    color: rgb(50, 50, 50);
    font-size: 50px !important;
    cursor: pointer;
}

.dark #MicrophoneButton {
    background-color: #242424;

}

.dark .MicrophoneIcon {
    color: #e7e7e7;
}

@keyframes animationOnMicrophone {
    0% {
        transform: scale(1.3);

    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.3);
    }


}

.DetectedTextData {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'VT323', monospace;
    color: #3b3b3b;

}

.dark .DetectedTextData {
    color: #e7e7e7;
}

.AccountOutButton {
    margin: auto;
    background-color: red !important;
    color: white !important;
}

.AccountOutButton:hover {
    background-color: rgb(255, 0, 0);
}

.BoxDetectedVoice .DetectedVoice {
    padding-top: 10px;
}

.AssistantGender {
    width: 125px;
    font-size: 16px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: none !important;
}

.asssistantGenderh2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}

.dark .asssistantGenderh2 {
    color: white;
}

.dark .AssistantGender {
    color: #e7e7e7;
    background-color: #3b3b3b;

}



.dark .Musics {
    background-color: #3b3b3b;
    border: none;
}

.dark .Musics::-webkit-media-controls-panel {
    background-color: #d5d5d5 ;

}
.wrap_audioCard{

    background-color: #f2f2f2;

    border-radius: 20px;
}
.dark .wrap_audioCard{
    background-color: #3b3b3b;
}
.dark .Musics::-webkit-media-controls-panel {
    color: white; /* For Chrome, Safari, and newer versions of Edge */
  }
  
  .dark .Musics::-webkit-media-controls {
    background-color: #333; /* For Chrome, Safari, and newer versions of Edge */
  }
  .Musics{
    width: 100%;

  }
  .DetectedVoices{
    padding-top: 10px;
    padding-left: 10px;
  }
  